In [44]:
import pandas as pd 

atrasos = pd.read_csv("viagens_atrasadas.csv")

In [45]:
atrasos.head()

,ID,ESTACAO_IDA,ESTACAO_CHEGADA,DATA_VIAGEM,HORARIO_SAIDA,HORARIO_CHEGADA,TEMPO_ESPERADO_DA_VIAGEM,ATRASO,QTD_PASSAGEIROS,PCT_PRIMEIRA_CLASSE,PCT_COMPRAS_ANTECIPADAS,PRECO_MEDIO,PCT_PEDIDOS_REEMBOLSO,MOTIVO_ATRASO
0,1,Birmingham New Street,London Euston,2024-01-08,08:00:00,09:20:00,80,31,1,0.0,100.0,21.0,0.0,Weather
1,2,Birmingham New Street,London Euston,2024-01-13,08:00:00,09:20:00,80,54,2,0.0,50.0,26.0,0.0,Weather
2,3,Birmingham New Street,London Euston,2024-01-14,08:00:00,09:20:00,80,36,1,0.0,0.0,31.0,0.0,Weather
3,4,Birmingham New Street,London Euston,2024-01-14,15:30:00,16:50:00,80,6,1,100.0,0.0,82.0,100.0,Staffing
4,5,Birmingham New Street,London Euston,2024-01-19,08:00:00,09:20:00,80,36,1,0.0,100.0,21.0,0.0,Weather

In [46]:
atrasos

,ID,ESTACAO_IDA,ESTACAO_CHEGADA,DATA_VIAGEM,HORARIO_SAIDA,HORARIO_CHEGADA,TEMPO_ESPERADO_DA_VIAGEM,ATRASO,QTD_PASSAGEIROS,PCT_PRIMEIRA_CLASSE,PCT_COMPRAS_ANTECIPADAS,PRECO_MEDIO,PCT_PEDIDOS_REEMBOLSO,MOTIVO_ATRASO
0,1,Birmingham New Street,London Euston,2024-01-08,08:00:00,09:20:00,80,31,1,0.0,100.0,21.0,0.0,Weather
1,2,Birmingham New Street,London Euston,2024-01-13,08:00:00,09:20:00,80,54,2,0.0,50.0,26.0,0.0,Weather
2,3,Birmingham New Street,London Euston,2024-01-14,08:00:00,09:20:00,80,36,1,0.0,0.0,31.0,0.0,Weather
3,4,Birmingham New Street,London Euston,2024-01-14,15:30:00,16:50:00,80,6,1,100.0,0.0,82.0,100.0,Staffing
4,5,Birmingham New Street,London Euston,2024-01-19,08:00:00,09:20:00,80,36,1,0.0,100.0,21.0,0.0,Weather
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,1057,York,Wakefield,2024-03-14,07:30:00,07:55:00,25,3,1,100.0,100.0,8.0,0.0,Staffing
1044,1058,York,Wakefield,2024-03-26,07:30:00,07:55:00,25,15,1,0.0,100.0,7.0,0.0,Staffing
1045,1059,York,Wakefield,2024-04-03,07:30:00,07:55:00,25,5,1,100.0,0.0,17.0,0.0,Staffing
1046,1060,York,Wakefield,2024-04-08,07:30:00,07:55:00,25,6,1,0.0,0.0,14.0,0.0,Staffing
1047,1062,York,Wakefield,2024-04-27,07:30:00,07:55:00,25,14,1,0.0,100.0,7.0,0.0,Staffing

In [59]:
adjacencies = {}

for i, row in atrasos.iterrows():
    departure = row["ESTACAO_IDA"]
    arrival = row["ESTACAO_CHEGADA"]
    if departure not in adjacencies:
        adjacencies[departure] = set()

    adjacencies[departure].add(arrival)

for station in adjacencies:
    adjacencies[station] = list(adjacencies[station])


reverse_adjacencies = {}

all_stations = set({})

for value in adjacencies.values():
    all_stations.update(set(value))

for station in all_stations:
    reverse_adjacencies[station] = set()
    for station_key, neighbors in adjacencies.items():
        if station in neighbors:
            reverse_adjacencies[station].add(station_key)


for station in reverse_adjacencies:
    reverse_adjacencies[station] = list(reverse_adjacencies[station])

In [60]:
adjacencies

{'Birmingham New Street': ['London Euston', 'Manchester Piccadilly'],
 'Edinburgh Waverley': ['London Kings Cross'],
 'Liverpool Lime Street': ['London Paddington',
  'London Euston',
  'Manchester Piccadilly'],
 'London Euston': ['York', 'Birmingham New Street'],
 'London Kings Cross': ['York'],
 'London Paddington': ['Reading'],
 'Manchester Piccadilly': ['Nottingham',
  'London Euston',
  'Leeds',
  'Liverpool Lime Street'],
 'Oxford': ['Bristol Temple Meads'],
 'York': ['Wakefield', 'Durham', 'Doncaster']}

In [61]:
reverse_adjacencies

{'Wakefield': ['York'],
 'Manchester Piccadilly': ['Birmingham New Street', 'Liverpool Lime Street'],
 'Reading': ['London Paddington'],
 'Nottingham': ['Manchester Piccadilly'],
 'Leeds': ['Manchester Piccadilly'],
 'London Paddington': ['Liverpool Lime Street'],
 'London Euston': ['Manchester Piccadilly',
  'Birmingham New Street',
  'Liverpool Lime Street'],
 'York': ['London Euston', 'London Kings Cross'],
 'Bristol Temple Meads': ['Oxford'],
 'Doncaster': ['York'],
 'London Kings Cross': ['Edinburgh Waverley'],
 'Durham': ['York'],
 'Birmingham New Street': ['London Euston'],
 'Liverpool Lime Street': ['Manchester Piccadilly']}

In [54]:
all_stations

{'Birmingham New Street',
 'Bristol Temple Meads',
 'Doncaster',
 'Durham',
 'Leeds',
 'Liverpool Lime Street',
 'London Euston',
 'London Kings Cross',
 'London Paddington',
 'Manchester Piccadilly',
 'Nottingham',
 'Reading',
 'Wakefield',
 'York'}

In [62]:
import json

with open("adjacencies.json", "w") as f:
    json.dump(adjacencies, f, indent=2)


with open("reverse_adjacencies.json", "w") as f:
    json.dump(reverse_adjacencies, f, indent=2)

In [49]:
lista = list(adjacencies.values())

In [50]:
[] in lista

False

In [51]:
adjacencies

{'Birmingham New Street': ['London Euston', 'Manchester Piccadilly'],
 'Edinburgh Waverley': ['London Kings Cross'],
 'Liverpool Lime Street': ['London Paddington',
  'London Euston',
  'Manchester Piccadilly'],
 'London Euston': ['York', 'Birmingham New Street'],
 'London Kings Cross': ['York'],
 'London Paddington': ['Reading'],
 'Manchester Piccadilly': ['Nottingham',
  'London Euston',
  'Leeds',
  'Liverpool Lime Street'],
 'Oxford': ['Bristol Temple Meads'],
 'York': ['Wakefield', 'Durham', 'Doncaster']}

In [6]:
count = 0
start = "London Euston"
end = "Oxford"

Is = []
for i, row in railway.iterrows():
    if row["Departure Station"] == start and row["Arrival Destination"] == end:
        count += 1
        Is.append(i)

count, Is

(16,
 [6,
  1155,
  3064,
  3315,
  5878,
  6157,
  8047,
  12508,
  13466,
  14902,
  15558,
  16963,
  19932,
  22933,
  29355,
  30700])

In [7]:
for i in Is:
    row = railway.iloc[i]
    if row["Journey Status"] != "On Time":
        print(i, row["Journey Status"], row["Departure Time"], row["Arrival Time"])

In [9]:
start = "York"
end = "Edinburgh"
for i, row in railway.iterrows():
    if row["Departure Station"] == start and row["Arrival Destination"] == end:
        print(i)

222
241
269
516
638
909
1019
1043
1044
1258
1295
1906
2369
3196
3317
3544
3755
3769
4001
4158
4344
4616
4617
4758
5191
5197
5224
5750
5751
5994
6016
6327
7155
7256
7429
7975
8303
8622
9050
9448
9561
9970
10042
10066
10175
10543
10792
10840
10853
10949
10980
11204
11208
12020
12350
12685
12700
12711
13000
13306
13326
13361
13642
13898
13938
13940
14401
14621
15049
15350
15786
16064
16294
17095
17889
17934
17942
18489
18565
18737
19312
19313
19544
19708
20085
20129
20344
20595
20656
21183
21570
21571
21694
22324
22544
22546
22598
22832
23043
23081
23623
24392
24634
24905
25124
25134
25651
25923
25945
25991
26472
26481
26758
26771
26824
27730
27925
28003
28422
28557
28656
28659
28661
28700
28997
29225
29283
29498
29741
30437
30640
30817
31236
31238
31338
31340
31371
31386

In [27]:
york_to_edinburgh = railway[(railway["Departure Station"] == "Birmingham New Street") & (railway["Arrival Destination"] == "Coventry")]
york_to_edinburgh.shape

(65, 18)

In [25]:
departure_time = york_to_edinburgh["Departure Time"]
date = york_to_edinburgh["Date of Journey"]

In [26]:
departure_time.isna().any()
date.isna().any()

np.False_

In [28]:
import pandas as pd

data = pd.read_csv("viagens_atrasadas.csv")

In [31]:
sum(data["ATRASO"] == 0)

0

KeyError: 'Edinburgh'

In [ ]:
def start_to_end(start, end):
    return railway[(railway["Departure Station"] == start) & (railway["Arrival Destination"] == end)]

start_to_end("York", "Birmingham New Street")[0:20]

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
381,cd046d0a-8cfd-4268-96c6,2024-01-03,02:20:52,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-01-03,03:45:00,06:00:00,06:00:00,On Time,NaN,No
6482,5c2ba502-bf26-4f49-a955,2024-01-25,02:21:04,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-01-25,03:45:00,06:00:00,06:00:00,On Time,NaN,No
8837,7a16990e-fa9f-47cb-8271,2024-02-02,05:26:18,Online,Contactless,NaN,Standard,Advance,39,York,Birmingham New Street,2024-02-26,03:45:00,06:00:00,06:00:00,On Time,NaN,No
10643,ddf76ef4-ad71-406a-9a10,2024-02-06,05:23:40,Online,Contactless,NaN,Standard,Advance,39,York,Birmingham New Street,2024-02-21,03:45:00,06:00:00,06:00:00,On Time,NaN,No
12555,05720738-ec44-4ee7-b5f3,2024-02-11,05:21:56,Online,Contactless,NaN,Standard,Advance,39,York,Birmingham New Street,2024-02-12,03:45:00,06:00:00,06:00:00,On Time,NaN,No
15879,36deb342-5cae-4601-a167,2024-03-02,02:28:47,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-03-02,03:45:00,06:00:00,06:00:00,On Time,NaN,No
18386,02875065-adfe-4237-8bb2,2024-03-11,02:24:56,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-03-11,03:45:00,06:00:00,06:00:00,On Time,NaN,No
18414,861c9d2a-2d85-4b15-855c,2024-03-11,05:29:01,Online,Contactless,NaN,Standard,Advance,39,York,Birmingham New Street,2024-03-12,03:45:00,06:00:00,NaN,Cancelled,Weather Conditions,Yes
18646,df90f097-8afc-48be-b5df,2024-03-12,02:27:40,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-03-12,03:45:00,06:00:00,NaN,Cancelled,Weather Conditions,No
19747,10db7283-155c-47f8-b0ce,2024-03-16,05:18:31,Online,Contactless,NaN,Standard,Advance,39,York,Birmingham New Street,2024-03-17,03:45:00,06:00:00,06:00:00,On Time,NaN,No
21586,919a0ecf-48e3-44ab-8fab,2024-03-23,02:22:54,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-03-23,03:45:00,06:00:00,06:00:00,On Time,NaN,No
22434,056cf741-782c-4100-9dc3,2024-03-26,02:21:05,Online,Contactless,NaN,First Class,Off-Peak,74,York,Birmingham New Street,2024-03-26,03:45:00,06:00:00,06:00:00,On Time,NaN,No
22463,31bdeab2-f02b-4f59-b831,2024-03-26,05:17:33,Online,Contactless,NaN,Standard,Advance,39,York,Birmingham New Street,2024-03-27,03:45:00,06:00:00,06:00:00,On Time,NaN,No
23489,600cbdc7-2848-405e-98ea,2024-03-30,02:27:38,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-03-30,03:45:00,06:00:00,06:00:00,On Time,NaN,No
26372,a2da49dc-2dd7-4b23-b098,2024-04-11,05:27:02,Online,Contactless,NaN,Standard,Advance,39,York,Birmingham New Street,2024-04-12,03:45:00,06:00:00,06:00:00,On Time,NaN,No
31272,3ea33e86-34c4-4562-b34c,2024-04-29,02:19:59,Online,Contactless,NaN,Standard,Off-Peak,59,York,Birmingham New Street,2024-04-29,03:45:00,06:00:00,06:00:00,On Time,NaN,No